Label {
    margin: 10;
    horizontal-align: left;
    vertical-align: center;
    border-width: 5;
    border-style: solid;
    border-color: #ffff00;
    /* Custom fonts */
    font-family: "PingFang-SC-Semibold";
}