.icon {
    font-family: "icomoon";
    font-size: 48;
}


/* only for reference, is NOT working in this example (wrong codes) 
 .fa {
    font-family: 'FontAwesome', 'fontawesome-webfont';
    font-size: 48;
 }
 */